.well-known/*
.vscode/*

# Don't include generated cached items or imported libraries (phpMail)
includes/cache/background/*
includes/cache/poster/*
!includes/cache/poster/*.svg
includes/cache/poster/342/*
includes/cache/thumb/*
includes/phpMail/*
includes/tvdberror.txt
includes/status.json

# config_dummy is a copy of this, with sensitive info removed
includes/config.php

# Old icons that are no longer part of the project
icon/png/*
icon/raw/*

# Generated
script/iconMap.js

# Generated JS/CSS/SVG
min/*

# Just copies of favicon.png at different resolutions for Apple devices
apple-touch-icon*.png

package.json

# Random files not ready for primetime
query.*

# Personal file for markdown testing
script/markdownSamples.js

# IMDb ratings cache
includes/*.tsv
