RewriteEngine on
RewriteRule ^/?art/(.*)$ get_image.php?path=/$1&type=background [PT]
RewriteRule ^/?thumb/(.*)$ get_image.php?path=/$1&type=thumb [PT]
RewriteRule ^/?poster/(.*)$ get_image.php?path=/$1&type=poster [PT]
RewriteRule ^/?r/(\d+)$ unshorten.php?type=r&data=$1 [PT]
RewriteRule ^/?i/([^/]+)/([^/]+)/(.*)$ svg.php?icon=$3&hash=$2&color=$1 [PT]

FileETag MTime Size

<IfModule mod_deflate.c>
<FilesMatch "\.(ico|jpg|jpeg|png|gif|svg|js|css|html|php|txt|xml)$">
SetOutputFilter DEFLATE
</FilesMatch>
</IfModule>
