table, th, td {
    border-collapse: collapse;
    padding: 5px 10px 5px 10px;
}

th, td {
    border-left: 2px solid #808080;
    border-right: 2px solid #808080;
    width: auto;
    border-bottom: 1px solid #606060;
}

table {
    width: auto;
    background-color: rgba(0,0,0,.3);
    color: #C1C1C1;
    margin: auto;
    margin-top: 5px;
}

th {
    background-color: rgba(0,100,0,.3);
}

tr:hover {
    background-color: rgba(0,0,0,0.2);
}

a {
    color: #80A020;
}

a:hover {
    color: #608020;
}

.approved_request {
    background-color: rgb(63, 100, 69);
}

.denied_request {
    background-color: rgb(100, 66, 69);
}

input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    padding: 6px;
    margin: auto;
    display: inline-block;
}

input[type=checkbox]:checked {
    background-color: rgb(192, 189, 186);
}

input[type=checkbox]:focus {
    outline: none;
    border: 1px solid rgb(255, 127, 0);
}

#filterControls {
    margin: auto;
    text-align: center;
    margin-top: 50px;
    display: block;
}

.filterItem {
    float: none;
    color: #C1C1C1;
    display: inline;
}

.filterItem input, .filterItem label {
    float: none;
}

#filterPendingLabel, #filterCompleteLabel {
    margin-right: 20px;
}


