html, body {
    height: 100%;
}

#plexFrame {
    background: rgba(0,0,0,0) url("res/noise.8b05ce45d0df59343e206bc9ae78d85d.png") repeat scroll 0% 0%;
    margin: 0;
    border: 0;
    overflow: auto;
    display: block;
    height: 100%;
}

body {
    background-image: url("res/preset-light.770a0981b66e038d3ffffbcc4f5a26a4.png");
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1, h2, h3 {
    margin-top: 10px;
    text-align: center;
}

#welcome {
    color: #2e832e;;
    margin-top: 50px;
}

.formContainer {
    margin: auto;
    min-width: 300px;
    margin-top: 50px;
    border: 2px solid #444;
    padding: 20px;
    border-radius: 10px;
    background: rgba(63, 66, 69, .4);
    color: rgb(192, 189, 186);
}

.formContainer a {
    color: #80A020;
}

.formContainer a:visited {
    color: #80A020;
}

.formContainer a:hover {
    color: #608020;
}

#formStatus {
  color: #c1c1c1;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
  width: 30%;
  max-width: 400px;
  margin-top: 20px;
}

.statusSuccess {
    background-color: rgba(63, 100, 69, 0.5);
}

.statusFail {
    background-color: rgba(100, 66, 69, 0.5);
}

#suggest {
    width: 30%;
}

#login, #register, #info, #pwReset {
    width: 30%;
    max-width: 400px;
}

form input[type=text], form input[type=password], form textarea {
    width: 50%;
}

form textarea {
    max-width: 50%;
}

textarea {
    font-family: sans-serif;
    resize: vertical;
    min-height: 20px;
}

#suggest:hover {
    background: rgba(63, 66, 69, .3);
}

label {
    float: left;
}

input, select, textarea {
    float: right;
}

input, select, textarea {
    border-radius: 5px;
    padding: 2px;
    border: 1px solid #2e2e2e;
    background-color: rgb(63, 66, 69);
    color: rgb(192, 189, 186);
    outline: none;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border: 1px solid rgb(255, 127, 0);
}

input:hover, select:hover, textarea:hover {
    background-color: rgb(83, 86, 89);
}

input[type=checkbox]:checked:hover {
    background-color: rgb(143, 146, 149);
}

.formInput {
    padding: 5px;
    overflow: auto;
}

hr {
    border: 1px solid rgb(63, 66, 69);
}

.formInput:hover {
    /*border-bottom: 2px solid white;*/
    /*background-color: #AEAEAE;*/
    color: rgba(192, 189, 186, .9);
}

#invalid {
    color: #c1c1c1;
    font-weight: bold;
    background-color: rgb(100, 66, 69);
    display: none;
    margin: auto;
    width: 30%;
    min-width: 300px;
    font-size: 16pt;
    border-radius: 5px;
    border: 2px solid rgb(150, 66, 69);
    padding: 20px;
    text-align: center;
}

#invalid:hover {
    background-color: rgba(125, 0, 0, .5);
}

#loginerror, #registerSuccess {
    color: #c1c1c1;
    font-weight: bold;
    display: none;
    margin: auto;
    text-align: center;
    margin-top: 15px;
}

#loginerror {
    background-color: rgb(100, 66, 69);
}

#registerSuccess {
    margin-bottom: 15px;
    background-color: rgb(66, 100, 69);
}

.formTitle {
    margin-bottom: 15px;
    overflow: auto;
    font-weight: bold;
}

.statusOk {
    color: #2e832e;
}

.statusMedium {
    color: #83832e;
}

.statusBad {
    color: #832e2e;
}

#logout {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

#active, #active a, #login a, #register a, #logout a {
    color: #80A020;
}

#login a:hover, #register a:hover, #logout a:hover {
    color: #608020;
}

#active a {
    text-decoration: none;
}

#active a:hover {
    text-decoration: underline;
    color: #202060;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 5px;
    width: 100%;
    color: white;
    text-align: right;
}

#footer a {
    color: white;
    font-size: 8pt;
    padding: 5px;
}

.mediainfo {
    border: 2px solid black;
    margin: 10px;
    width: 30%;
    clear: both;
    overflow: auto;
    border: 2px solid #222;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;

    text-shadow: -1px 0 1px #444, 0 1px 1px #444, 1px 0 1px #444, 0 -1px 1px #444;
    /*box-shadow: inset 10px 10px 10px black;*/
}

.mediainfo a {
    color: #50C050;
    font-weight: bold;
}

.mediainfo a:visited {
    color: #50B050;
}

.mediainfo a:hover {
    text-decoration: underline;
    color: #40A040;
}

.mediainfo strong {
    color: #AAA;
}

.innerHolder {
    margin: 15px;
}

.progressHolder {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.progress, .tcdiff, .remaining {
    border-top: 1px solid #222;
    height: 5px;
    margin-top: 0;
    opacity: 0.5;
    margin-top: 15px;
}

.mediainfo:hover .progress, .mediainfo:hover .tcdiff, .mediainfo:hover .remaining {
    opacity: 0.8;
    height: 15px;
    margin-top: 5px;
}

.mediainfo:hover .time {
    opacity: 1;
}

.progress {
    float: left;
    background-color: #A0C030;
}

.tcdiff {
    float: left;
    background-color: rgb(176, 160, 48);
}

.remaining {
    float: right;
    background-color: #C08030;
}

.time {
    position: absolute;
    bottom: 0;
    font-size: smaller;
    margin: auto;
    color: #c1c1c1;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    opacity: 0;
}

#tooltip {
    display: none;
    background-color: rgba(50, 50, 50, .7);
    color: #c1c1c1;
    border-radius: 3px;
    border: 1px solid #616161;
    padding: 5px;
    position: absolute;
}

#suggestions,
#existingSuggestions,
#outsideSuggestions {
    display: none;
}

.suggestionHolder {
    border: 1px solid #2e2e2e;
    overflow: hidden;
    width: 100%;
    height: 50px;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.1);
}

.suggestionHolder:hover {
    background-color: rgba(0,0,0,0.2);
}

.suggestionImg {
    height: 100%;
    float: left;
    margin-right: 10px;
}

.suggestionText {
    width: auto;
    font-size: small;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tableHolder {
    overflow-y: scroll;
}

.smallDiv {
    font-size: smaller;
}

@media (orientation: landscape), (min-width: 767px) {
    .mediainfo {
        min-width: 630px;
    }

    .mediainfo ul {
        text-align: left;
        color: #CCC;
        font-size: small;
    }

    .thumbholder {
        float: left;
        z-index: 1;
    }

    .details {
        float: left;
        margin-left: 10px;
        max-width: calc(100% - 110px);
    }

    /* width*/
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .tableHolder::-webkit-scrollbar {
        width: 0;
        height: 5px;
    }

    /* Track */
    .tableHolder::-webkit-scrollbar-track {
        background: transparent;
        width: 0;
        height: 5px;
    }
}

@media all and (orientation: portrait) and (max-width: 767px) {
    .mediainfo {
        min-width: 80%;
        text-align: center;
    }
    .mediainfo ul {
        text-align: center;
        color: #CCC;
        font-size: small;
        padding: 0;
    }

    .mediainfo li {
        list-style-type: none;
        margin: 0;
    }

    .thumbholder {
        text-align: center;
        clear: both;
    }

    .details {
        margin-left: 10px;
        text-align: center;
    }

    /* width*/
    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    .tableHolder::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    /* Track */
    .tableHolder::-webkit-scrollbar-track {
        background: transparent;
        width: 0;
        height: 2px;
    }

    .tableHolder td {
    	font-size: smaller;
    }
}

@font-face {
    font-family: 'FontAwesome';
    src: url('fontawesome.eot');
    src: url('fontawesome-webfont-iefix.eot') format('embedded-opentype'),url('fontawesome-webfont.woff2') format('woff2'),url('fontawesome-webfont.woff') format('woff'),url('fontawesome-webfont.ttf') format('truetype'),url('fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-pause:before {
    content: "\f04c"
}

.fa-play:before {
    content: "\f04b"
}

/* Track */
::-webkit-scrollbar-track {
     background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 5px;
     background: #616161;
     opacity: 0.5;
}

/* corner */
::-webkit-scrollbar-corner {
    background: #616161;
    border: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
     background: #818181; 
}


/***************
 * Navbar Style
 ***************/
#nav {
    width: 100%;
    height: 40px;
    background-color: #2E5E3E;
    opacity: 0.8;
    position: fixed;
    left: 0;
    top: 0;
}

#nav .navButton {
    height: 100%;
    color: #C1C1C1;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

#nav .leftbutton {
    border-right: 2px solid #808080;
    float: left;
}

#nav .rightbutton {
    border-left: 2px solid #808080;
    float: right;
    height: 40px;
}

.navButton:hover, #mainMenu:hover, #pageName:hover {
    background-color: #0E3E1E;
}

.ham {
    width: 30px;
    height: 5px;
    background-color: #c1c1c1;
    margin-top: 5px;
}

#mainMenu {
    height: 37px;
    padding: 3px 10px 0 10px;
    margin: auto;
}

#mainMenu:hover .ham {
    background-color: #A1A1A1;
}

#leftMenu {
    background-color: rgb(46, 94, 62);
    color: #C1C1C1;
    width: 169px;
    height: calc(100vh - 40px);
    position: fixed;
    top: 40px;
    left: -170px;
    border-right: 1px solid #808080;
    z-index: 1;
}

#leftMenu .navButton {
    height: 35px;
    width: calc(100% - 30px);
    color: #C1C1C1;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    font-size: 12pt;
    border-bottom: 2px solid #808080;
}

.btnimg {
    float: right;
}

.btnimg img {
    height: 24px;
}

.btntxt {
    float: left;
    line-height: 35px;
}

#pageName {
    color: #c1c1c1;
    float: left;
    display: inline-block;
    vertical-align: center;
    line-height: 40px;
    padding: 0 10px;
    font-size: 14pt;
    cursor: pointer;
}

#pageName:hover {
    color: #a1a1a1;
}

@media all and (orientation: portrait) and (max-width: 767px) {
    #navShort {
        display: none;
    }
}