#actions {
    width: 30%;
    min-width: 125px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.action {
    min-width: 150px;
    border: 2px solid black;
    margin: 10px;
    overflow: auto;
    border: 2px solid #222;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #00000033;
}

.action:hover {
    background-color: #00000055;
}

.actionImg {
    display: block;
    margin: auto;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.action a {
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.actionLink, .actionLink:visited {
    color: #80A020;
}

.actionLink:hover {
    color: #608020;
}

/* Desktop/Landscape */
@media (orientation: landscape), (min-width: 767px) {
    #actions {
        min-width: 630px;
    }
}

/* Phone/Portrait*/
@media all and (orientation: portrait) and (max-width: 767px) {
    #actions {
        min-width: 80%;
        text-align: center;
    }
}