#queryContainer {
    text-align: center;
}

#queryContainer > textarea {
    float: none;
    width: 80%;
    font-family: monospace;
    -moz-tab-size : 4;
    -o-tab-size : 4;
    tab-size : 4;
    background-color: rgba(20,20,20,.5);
}

#queryContainer > textarea:hover {
    background-color: rgba(20,20,20,.8);
}

#queryContainer > input {
    float: none;
    clear: both;
    width: 100px;
    height: 30px;
}

#mdHolder {
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.mdToolbar {
    margin-left: 10%;
}

table {
    width: auto;
    background-color: rgba(0,0,0,.3);
    color: #C1C1C1;
    margin: auto;
    margin-top: 5px;
}