#nav {
    width: 100%;
    height: 40px;
    background-color: #2E5E3E;
    opacity: 0.8;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

#nav .navButton {
    height: 100%;
    color: #C1C1C1;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

#nav .leftbutton {
    border-right: 2px solid #808080;
    float: left;
}

#nav .rightbutton {
    border-left: 2px solid #808080;
    float: right;
    height: 40px;
    width: 24px;
}

.navButton:hover, #mainMenu:hover, #pageName:hover {
    background-color: #0E3E1E;
}

.ham {
    width: 30px;
    height: 5px;
    background-color: #c1c1c1;
    margin-top: 5px;
}

#mainMenu {
    height: 37px;
    padding: 3px 10px 0 10px;
    margin: auto;
}

#mainMenu:hover .ham {
    background-color: #A1A1A1;
}

#leftMenu {
    background-color: rgb(46, 94, 62);
    color: #C1C1C1;
    width: 169px;
    height: calc(100vh - 40px);
    position: fixed;
    top: 40px;
    left: -170px;
    border-right: 1px solid #808080;
    z-index: 1;
}

#leftMenu .navButton {
    height: 35px;
    width: calc(100% - 30px);
    color: #C1C1C1;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    font-size: 12pt;
    border-bottom: 2px solid #808080;
}

#leftMenu .navButton img {
    margin-top: 5px;
}

.btnimg {
    float: right;
}

.btnimg img {
    height: 24px;
}

.btntxt {
    float: left;
    line-height: 35px;
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 12pt;
    font-weight: bold;
    color: #c1c1c1;
}

.navPageInfo {
    color: #c1c1c1;
    float: left;
    display: inline-block;
    vertical-align: center;
    line-height: 40px;
    font-size: 14pt;
}

#pageName, .pageDetail {
    cursor: pointer;
}

#pageName {
    padding: 0 5px 0 10px;
    background: transparent;
    margin: 0;
    border: none;
}

#pagename:focus {
    outline: none;
}

.pageDetail {
    padding: 0 10px 0 5px;
    background: transparent;
    margin: 0;
    border: none;
}

#pageName:hover, .pageDetail:hover {
    color: #a1a1a1;
}

#activityImg {
    filter: invert(80%);
}

#activityImg.newActivity { /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(46%) sepia(94%) saturate(6125%) hue-rotate(8deg) brightness(109%) contrast(102%);
}

#activityImg.newActivity:hover { /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(23%) sepia(71%) saturate(7470%) hue-rotate(5deg) brightness(103%) contrast(102%);
}

@media all and (orientation: portrait) and (max-width: 767px) {
    #navShort {
        display: none;
    }

    .navPageInfo {
        font-size: 12pt;
    }
}
