form select {
    width: 50%;
}

.matchContinue {
    margin-top: 5px;
    width: 100%;
    clear: both;
    padding: 10px 0;
}

.visible {
    opacity: 1.0;
    -webkit-transition: height 0.25s, opacity 0.5s;
    transition: height 0.25s, opacity 0.5s;
}

.hidden {
    opacity: 0;
    height: 0;
}

.searchResult {
    border: 1px solid #2e2e2e;
    overflow: hidden;
    width: calc(100% - 2px);
    height: 70px;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.1);
}

.searchResult:hover {
    background-color: rgba(0,0,0,0.2);
}

.selectedSuggestion {
    background-color: rgba(0,50,0,0.4);
}
.selectedSuggestion:hover {
    background-color: rgba(0,70,0,0.5);
}

.searchResult img {
    height: 100%;
    float: left;
    margin-right: 10px;
}

.searchResult .matchText {
    width: auto;
    font-size: small;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.badLink {
    color: red !important;
}

#suggest {
    width: 30%;
    max-width: 600px;
}

#suggest:hover {
    background: rgba(63, 66, 69, .3);
}

#suggestions,
#existingSuggestions,
#outsideSuggestions {
    display: none;
}

.typeOption {
    display: block;
    flex: 1 1 0;
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(0,0,0,.1);
    cursor: pointer;
}

.typeOption:hover {
    background-color: rgba(0,0,0,0.2);
}

.typeOption:not(.left) {
    border-left: 1px solid #666;
}

.typeOption.left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.typeOption.right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#typeContainer {
    border-radius: 10px;
    border: 1px solid #666;
    text-align: center;
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

.typeSelected {
    background-color: rgba(0, 50, 0, 0.4);
}

.typeSelected:hover {
    background-color: rgba(0,70,0,0.5);
}

#name {
    width: calc(100% - 2px);
    font-size: 16px;
    text-align: center;
    background-color: rgba(0,0,0,.1);
}

#name:hover {
    background-color: rgba(0,0,0,0.2);
}

.existingRequestButton {
    width: 120px;
    display: inline;
    float: none;
    margin: auto;
    margin-top: 10px;
}

.rightButton {
    margin-right: 10px;
}