* {
    color: #c1c1c1;
}

.playbackButton, .playerNavButton {
    background: rgba(0,0,0,0.3);
    border: 2px solid rgba(0,0,0,0.7);
    font-size: 14pt;
    color: #c1c1c1;
    margin: 5px;
    cursor: pointer;
}

.playbackButton {
    height: 35px;
    width: 40px;
}

.playerNavButton {
    height: 65px;
    width: 65px;
}

.playbackButton:hover, .playerNavButton:hover {
    background: rgba(0,0,0,0.2);
}

.bigger {
    font-size: 22pt;
    line-height:25px;
    padding-bottom: 5px;
}

#playback, .navRow, .playerSelection {
    display: flex;
    justify-content: center;
}

#remoteNav {
    margin-top: 20px;
}

#refreshClients {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

#refreshClients:hover {
    color: #a1a1a1;
}

#remoteNav button:disabled {
    color: #818181;
    cursor: no-drop;
    background-color: rgba(0,0,0,0.3);
}
