table, th, td {
    border-collapse: collapse;
    padding: 5px 10px 5px 10px;
}

th, td {
    border-left: 2px solid #808080;
    border-right: 2px solid #808080;
    width: auto;
    border-bottom: 1px solid #606060;
}

table {
    width: auto;
    background-color: rgba(0,0,0,.3);
    color: #C1C1C1;
    margin: auto;
    margin-top: 5px;
}

th {
    background-color: rgba(0,100,0,.3);
}

tr:hover {
    background-color: rgba(0,0,0,0.2);
}

a {
    color: #80A020;
}

a:hover {
    color: #608020;
}

.approved_request {
    background-color: rgb(63, 100, 69);
}

.denied_request {
    background-color: rgb(100, 66, 69);
}

input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    padding: 6px;
    margin: auto;
    display: inline-block;
}

input[type=checkbox]:checked {
    background-color: rgb(192, 189, 186);
}

input[type=checkbox]:focus {
    outline: none;
    border: 1px solid rgb(255, 127, 0);
}

#filterControls {
    margin: auto;
    text-align: center;
    margin-top: 50px;
    display: block;
}

.filterItem {
    float: none;
    color: #C1C1C1;
    display: inline;
}

.filterItem input, .filterItem label {
    float: none;
}

#filterPendingLabel, #filterCompleteLabel, #filterInProgressLabel, #filterWaitingLabel {
    margin-right: 20px;
}


.searchResult {
    border: 1px solid #2e2e2e;
    overflow: hidden;
    width: calc(100% - 2px);
    height: 70px;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.1);
}

.searchResult:hover {
    background-color: rgba(0,0,0,0.2);
}

.selectedSuggestion {
    background-color: #2E5E3E;
}
.selectedSuggestion:hover {
    background-color: #1E4E2E;
}

.searchResult img {
    height: 100%;
    float: left;
    margin-right: 10px;
}

.searchResult div {
    width: auto;
    font-size: small;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.matchContinue {
    margin-top: 5px;
    width: 100%;
    clear: both;
    height: 20px;
}

#infoContainer, #commentsHolder {
    width: 100%;
    color: #c1c1c1;
}

#mediaBackdrop {
    width: 100%;
    float: left;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0.5;
    -webkit-mask-image:-webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,1) 80%, rgba(0,0,0,0));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,1) 80%, rgba(0,0,0,0));
    z-index: -1;
}

#mediaPoster {
    border: 3px solid rgba(0,0,0,0.5);
    border-radius: 2px;
    z-index: 999;
}

.statusSpan {
    user-select: none;
}

.status0 {
    color: #C84;
}

.status1 {
    color: #4C4;
}

.status2 {
    color: #C44;
}

.status3 {
    color: #CC4;
}

.status4 {
    color: #44C;
}

.commentHolder {
    background-color: rgba(0,0,0,0.3);
    margin-bottom: 10px;
    border: 2px solid #515151;
}

.commentHolder:hover {
    background-color: rgba(0,0,0,0.5);
}

.commentInfo {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #616161;
    width: calc(100% - 10px);
    text-align: left;
}

.commentInfo span {
    margin-right: 20px;
}

.commentContent {
    background-color: rgba(0,0,0,0.2);
    padding: 20px;
}

a, a:visited {
    color: #80A020;
}
a:hover {
    color: #608020;
}

.commentHeader {
    text-shadow: -1px 0 #313131, 0 1px #313131, 1px 0 #313131, 0 -1px #313131;
}

.searchResult {
    border: 1px solid #2e2e2e;
    overflow: hidden;
    width: calc(100% - 2px);
    height: 70px;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.1);
}

.searchResult:hover {
    background-color: rgba(0,0,0,0.2);
}

.selectedSuggestion {
    background-color: #2E5E3E;
}
.selectedSuggestion:hover {
    background-color: #1E4E2E;
}

.searchResult img {
    height: 100%;
    float: left;
    margin-right: 10px;
}

.searchResult .matchText {
    width: auto;
    font-size: small;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#mdPreview {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(0, 0, 0, 0.2);
}

#mdHolder {
    background: rgba(0, 0, 0, 0.2);
    clear: both;
    width: 100%;
    height: auto;
    overflow: auto;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: smaller;
    border: 1px solid #616161;
}

#mdCallout {
    clear: both;
    float: left;
    font-size: 10pt;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #919191;
}

/* Markdown Help should have a darker background than the default overlay background */
.mdHelp {
    background: rgba(70, 70, 70, 0.75);
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (orientation: landscape), (min-width: 767px) {
    #innerInfoContainer {
        float: left;
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 100px;
        padding: 20px;
        width: calc(100% - 160px);
        background-color: rgba(0,0,0,0.2);
        overflow: auto;
    }

    #mediaPoster {
        float: left;
        width: 250px;
    }

    #mediaDetails {
        float: left;
        padding: 10px 20px 10px 20px;
        width: calc(100% - 300px);
        height: auto;
    }

    #mediaDetails hr {
        border-color: rgba(200, 200, 200, 0.7);
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #mediaTitle {
        font-size: 36pt;
        vertical-align: top;
        font-weight: bold;
        text-shadow: -1px 0 #313131, 0 1px #313131, 1px 0 #313131, 0 -1px #313131;
        margin-bottom: 20px;
    }

    #mediaYear {
        font-size: 20pt;
        text-shadow: -1px 0 #313131, 0 1px #313131, 1px 0 #313131, 0 -1px #313131;
    }

    #mediaLink {
        font-size: 18pt;
        text-shadow: -1px 0 #313131, 0 1px #313131, 1px 0 #313131, 0 -1px #313131;
    }

    #mediaOverview {
        font-size: 14pt;
        text-shadow: -1px 0 #313131, 0 1px #313131, 1px 0 #313131, 0 -1px #313131;
    }

    #commentsHolder {
        overflow: auto;
        float: left;
        padding: 20px;
        margin-left: 60px;
        margin-right: 60px;
        width: calc(100% - 160px);
        margin-top: 20px;
        background-color: rgba(0,0,0,0.2);
        height: auto;
    }

    #newComment {
        float: left;
        height: 50px;
        min-width: 400px;
        max-width: 100%;
        resize: both;
        margin-top: 30px;
        background-color: rgba(63, 66, 69, 0.7);
    }
}

@media all and (orientation: portrait) and (max-width: 767px) {
    #innerInfoContainer {
        width: 100%;
        text-align: center;
        margin-top: 100px;
    }

    #mediaPoster {
        max-width: 70%;
    }

    #mediaDetails {
        float: left;
        margin-left: 20px;
        margin-top: 10px;
        max-width: 90%;
    }

    #mediaDetails hr {
        border-color: rgba(200, 200, 200, 0.7);
        text-align: center;
        max-width: 90%;
    }

    #mediaTitle {
        font-size: 36pt;
        vertical-align: top;
        font-weight: bold;
        text-shadow: -1px 0 #313131, 0 1px #313131, 1px 0 #313131, 0 -1px #313131;
        margin-bottom: 20px;
    }

    #mediaYear {
        font-size: 20pt;
        text-shadow: -1px 0 #313131, 0 1px #313131, 1px 0 #313131, 0 -1px #313131;
        margin-bottom: 20px;
    }

    #mediaLink {
        font-size: 18pt;
        text-shadow: -1px 0 #313131, 0 1px #313131, 1px 0 #313131, 0 -1px #313131;
    }

    #mediaOverview {
        margin-top: 20px;
        font-size: 12pt;
        text-shadow: -1px 0 #313131, 0 1px #313131, 1px 0 #313131, 0 -1px #313131;
        margin-bottom: 20px;
    }

    #commentsHolder {
        overflow: auto;
        padding: 20px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 30px;
        margin-bottom: 30px;
        width: calc(80% - 40px);
        margin-top: 20px;
        background-color: rgba(0,0,0,0.2);
        height: auto;
    }

    #newComment {
        float: left;
        height: 50px;
        width: 80%;
        resize: both;
        margin-top: 30px;
        background-color: rgba(63, 66, 69, 0.7);
    }

    .commentHolder {
        font-size: 10pt;
    }

    .commentInfo {
        font-size: smaller;
    }
}
