.requestComplete {
    background-color: rgba(63, 100, 69, 0.3);
}

.requestComplete:hover {
    background-color: rgba(63, 100, 69, 0.6);
}

.requestDenied {
    background-color: rgba(100, 66, 69, 0.5);
}

.requestDenied:hover {
    background-color: rgba(100, 66, 69, 0.7);
}

.requestInProgress {
    background-color: rgba(100, 100, 69, 0.6);
}

.requestInProgress:hover {
    background-color: rgba(100, 100, 69, 0.8);
}

.requestWaiting {
    background-color: rgba(63, 66, 120, 0.4);
}

.requestWaiting:hover {
    background-color: rgba(63, 66, 120, 0.7);
}

.inlineCombo {
    display: inline;
    float: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.inlineCombo:focus {
    background-color: rgba(100, 80, 69, 0.5);
    border: none;
    outline: none;
}

.statusHidden {
    display: none;
}

.statusChanged {
    background-color: rgba(100, 80, 69, 0.9);
}

.statusChange {
    padding-left: 5px;
}

.inlineIcon {
    height: 18px;
    vertical-align: bottom;
    margin-left: 5px;
}

#requestSearch img {
    vertical-align: text-top;
    height: 15px;
    margin-left: 5px;
    cursor: pointer;
}

#requestSearch img:hover {
    filter: invert(20%);
}

#tooltip {
    font-size: smaller;
}
