.requestComplete {
    background-color: rgba(63, 100, 69, 0.3);
}

.requestComplete:hover {
    background-color: rgba(63, 100, 69, 0.6);
}

.requestDenied {
    background-color: rgba(100, 66, 69, 0.5);
}

.requestDenied:hover {
    background-color: rgba(100, 66, 69, 0.7);
}

.requestInProgress {
    background-color: rgba(100, 100, 69, 0.6);
}

.requestInProgress:hover {
    background-color: rgba(100, 100, 69, 0.8);
}

.requestWaiting {
    background-color: rgba(63, 66, 120, 0.4);
}

.requestWaiting:hover {
    background-color: rgba(63, 66, 120, 0.7);
}

.statusHidden {
    display: none;
}

.statusChanged {
    background-color: rgba(100, 80, 69, 0.9);
}

.statusChange {
    padding-left: 5px;
}

.inlineIcon {
    height: 18px;
    vertical-align: bottom;
    margin-left: 5px;
}

#tooltip {
    font-size: smaller;
}

.plexLink {
    margin-left: 10px;
}

@media (orientation: landscape), (min-width: 767px) {
    .tableEntryHolder .imgHolder {
        height: 120px;
    }
}
