html, body {
    height: 100%;
}

#plexFrame {
    background: rgba(0,0,0,0) url("/plex/res/noise.8b05ce45d0df59343e206bc9ae78d85d.png") repeat scroll 0% 0%;
    margin: 0;
    border: 0;
    overflow: auto;
    display: block;
    height: 100%;
}

body {
    background-image: url("/plex/res/preset-light.770a0981b66e038d3ffffbcc4f5a26a4.png");
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1, h2, h3, h4 {
    margin-top: 10px;
    text-align: center;
}

#welcome {
    color: #2e832e;
    margin-top: 50px;
}

.formContainer {
    margin: auto;
    min-width: 300px;
    margin-top: 50px;
    border: 2px solid #444;
    padding: 20px;
    border-radius: 10px;
    background: rgba(63, 66, 69, .4);
    color: rgb(192, 189, 186);
}

.formContainer a {
    color: #80A020;
}

.formContainer a:visited {
    color: #80A020;
}

.formContainer a:hover {
    color: #608020;
}

#formStatus {
  color: #c1c1c1;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
  width: 30%;
  max-width: 400px;
  margin-top: 20px;
}

.statusSuccess {
    background-color: rgba(63, 100, 69, 0.5);
}

.statusFail {
    background-color: rgba(100, 66, 69, 0.5);
}

#login, #register, #info, #pwReset, #forgot, #reset {
    width: 30%;
    max-width: 400px;
}

form input[type=text], form input[type=password], form textarea {
    width: 50%;
}

form textarea {
    max-width: 50%;
}

textarea {
    font-family: sans-serif;
    resize: vertical;
    min-height: 20px;
}

textarea::placeholder {
    color: #c1c1c1;
}

td textarea {
    width: 100%;
    min-width: 150px;
}

label {
    float: left;
}

input, select, textarea {
    float: right;
}

input, select, textarea {
    border-radius: 5px;
    padding: 2px;
    border: 1px solid rgb(83, 87, 90);
    background-color: rgba(63, 66, 69);
    color: rgb(192, 189, 186);
    outline: none;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border: 1px solid rgb(255, 127, 0);
}

input:hover, select:hover, textarea:hover {
    background-color: rgba(83, 86, 89);
}

input[type=checkbox]:checked:hover {
    background-color: rgb(143, 146, 149);
}

.badInput {
    background-color: rgba(100, 66, 69);
}

.badInput:hover {
    background-color: rgba(100, 66, 69, 0.8);
}

.formInput {
    padding: 5px;
    overflow: auto;
}

hr {
    border: 1px solid rgb(83, 87, 90);
}

.formInput:hover {
    color: rgba(192, 189, 186, .9);
}

#loginerror, #registerSuccess {
    color: #c1c1c1;
    font-weight: bold;
    display: none;
    margin: auto;
    text-align: center;
    margin-top: 15px;
}

#loginerror {
    background-color: rgb(100, 66, 69);
}

#registerSuccess {
    margin-bottom: 15px;
    background-color: rgb(66, 100, 69);
}

.formTitle {
    margin-bottom: 15px;
    overflow: auto;
    font-weight: bold;
}

.statusOk {
    color: #2e832e;
}

.statusMedium {
    color: #83832e;
}

.statusBad {
    /*color: #832e2e;*/
    color: #A33e3e;
}

#logout {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

#login a, #register a, #logout a, #welcome a {
    color: #80A020;
}

#login a:hover, #register a:hover, #logout a:hover {
    color: #608020;
}

.tableHolder {
    overflow-y: scroll;
}

.hiddenInputStart {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.hiddenInput {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: visibility 0.25s, opacity 0.25s linear, height 0.25s linear;
}

.visibleInput {
    visibility: visible;
    opacity: 1;
    height: 25px;
    overflow: hidden;
    transition: visibility 0.25s, opacity 0.25s linear, height 0.25s linear;
}

@media (orientation: landscape), (min-width: 767px) {
    /* width*/
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .tableHolder::-webkit-scrollbar {
        width: 0;
        height: 5px;
    }

    /* Track */
    .tableHolder::-webkit-scrollbar-track {
        background: transparent;
        width: 0;
        height: 5px;
    }
}

@media all and (orientation: portrait) and (max-width: 767px) {
    /* width*/
    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    .tableHolder::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    /* Track */
    .tableHolder::-webkit-scrollbar-track {
        background: transparent;
        width: 0;
        height: 2px;
    }

    .tableHolder td {
    	font-size: smaller;
    }
}

/* Track */
::-webkit-scrollbar-track {
     background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 5px;
    background: #616161C1;
    opacity: 0.5;
}

/* corner */
::-webkit-scrollbar-corner {
    background: #616161C1;
    border: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
     background: #818181C1;
}
