a {
    color: #80A020;
}

a:hover {
    color: #608020;
}

input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    padding: 6px;
    margin: auto;
    display: inline-block;
}

input[type=checkbox]:checked {
    background-color: rgb(192, 189, 186);
}

input[type=checkbox]:focus {
    outline: none;
    border: 1px solid rgb(255, 127, 0);
}

option {
    background-color: rgb(63, 66, 69);
}


.tableHolder {
    margin: auto;
    margin-top: 20px;
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    color: #c1c1c1;
    padding-bottom: 20px;
}

#resultInfo {
    background-color: rgba(0,0,0,.3);
    text-align: center;
    padding: 10px;
    border-left: 2px solid rgba(145, 145, 145, 0.67); /* #919191AA; */
    border-right: 2px solid rgba(145, 145, 145, 0.67); /* #919191AA; */
}

.tableHF {
    border: 2px solid rgba(145, 145, 145, 0.67); /* #919191AA; */
    background-color: rgba(0, 200, 0, 0.1);
    overflow: auto;
}

#tableHeader {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#tableFooter {
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tableHF span {
    padding: 0 10px 0 10px;
}

.tableHF button {
    color: #c1c1c1;
    background-color: transparent;
    padding: 10px 8px 10px 8px;
    width: 40px;
}

.tableHF button.disabled {
    background-color: rgba(0,0,0,0.13); /* #00000022; */
}

.tableHF button.disabled img {
    filter: invert(30%);
}

.tableHF .perPageButton {
    margin: 0px;
    border: none;
    border-left: 2px solid rgba(145, 145, 145, 0.67); /* #919191AA; */
}

.tableHF button.selected {
    background-color: rgba(0,0,0,0.27); /* #00000044; */
}

.tableHF button:hover {
    background-color: rgba(0,0,0,0.13); /* #00000022; */
}

.tableHF button.cap {
    border-right: 2px solid rgba(145, 145, 145, 0.67); /* #919191AA; */
}

.tableEntryHolder {
    background-color: rgba(0,0,0,.3);
    border: 2px solid rgba(145, 145, 145, 0.67); /* #919191AA; */
    border-top: none;
    display: block;
    width: calc(100% - 4px);
    margin: 0;
    overflow: hidden;
}

.tableEntryHolder:hover {
    background-color: rgba(0,0,0,0.4);
}

.tableEntryHolder .imgHolder {
    border: none;
}

.textHolder .tableEntryTitle {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.textHolder span {
    display: block;
    padding-bottom: 3px;
    font-size: 10pt;
}

.textHolder label {
    float: none;
}

.textHolder .tableEntryTitle span {
    display: inline;
    font-size: 12pt;
}

.textHolder .tableEntryTitle:hover img {
    filter: brightness(0.8);
}

.pageStatus, .searchInputHolder {
    display: inline-block;
}

.searchInputHolder {
    display: none;
}

.searchGo {
    float: unset;
    width: 30px;
    padding: 4px;
}

.searchInput {
    float: unset;
    padding: 4px;
    background-color: rgba(63, 66, 69, .5) !important;
}

.searchInput:hover {
    background-color: rgba(63, 66, 69, .9) !important;
}

.previousPage {
    border: none;
    border-right: 2px solid rgba(145, 145, 145, 0.67); /* #919191AA; */
}

.previousPage img, .nextPage img {
    height: 15px;
    margin-bottom: -3px;
}

.previousPage img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.nextPage {
    border: none;
    border-left: 2px solid rgba(145, 145, 145, 0.67); /* #919191AA; */
}

#tableHeader .previousPage {
    border-top-left-radius: 10px
}
#tableHeader .nextPage {
    border-top-right-radius: 10px
}
#tableFooter .previousPage {
    border-bottom-left-radius: 10px
}
#tableFooter .nextPage {
    border-bottom-right-radius: 10px
}

.tableBtn {
    display: inline;
    border: none;
    vertical-align: middle;
    height: 35px;
    padding-top: 5px !important;
}

.tableImg {
    display: inline;
    height: 24px;
    vertical-align: middle;
    padding-bottom: 3px;
}

.tableBtn:hover .tableImg {
    filter: invert(20%);
}

#filterOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
}

#filterContainer {
    margin: auto;
    width: 80%;
    min-width: 200px;
    max-width: 400px;
    height: auto;
    padding: 20px;
    background-color: rgba(0,0,0,0.6);
    color: rgb(196, 196, 196);
}

#filterContainer input[type="button"] {
    padding: 5px;
}

.pageSelect {
    cursor: pointer;
    display: inline;
    float: none;
    width: 20px;
    font-size: 12pt;
    text-align: center;
    background-color: rgba(83, 87, 90, 0.6);
}

.pageCount {
    padding: 0 !important;
    margin: 0;
}

.rightSide {
    float: right;
}

.filterButtons {
    float: right;
    overflow: auto;
}

#applyFilter, #resetFilter, #cancelFilter {
    float: none;
}

#requestSearch {
    color: #a1a1a1;
}

.searchInputClear {
    width: 15px;
    margin-left: -25px;
    margin-right: 5px;
    vertical-align: text-bottom;
    cursor: pointer;
}

#requestSearch img {
    vertical-align: text-top;
    height: 15px;
    margin-left: 5px;
    cursor: pointer;
}

#requestSearch img:hover {
    filter: invert(20%);
}


/* Desktop/landscape mode */
@media (orientation: landscape), (min-width: 767px) {
    .nomobile {
        display: inline;
    }

    .tableEntryHolder .imgHolder {
        float: left;
        margin: 0;
        padding: 0;
    }

    .imgHolder img {
        height: 120px;
    }

    .tableEntryHolder .textHolder {
        float: left;
        margin-left: 15px;
    }

    .pageStatus, .searchInput {
        margin-left: 10px;
    }

    #filterContainer {
        margin-top: 25vh;
    }

    .textHolder {
        max-width: calc(100% - 100px);
    }

    .searchInputHolder {
        width: calc(100% - 410px);
    }

    .searchInput {
        width: calc(100% - 60px);
    }
}

/* Mobile/portrait mode */
@media (orientation: portrait) and (max-width: 767px) {
    .nomobile {
        display: none;
    }

    .tableEntryHolder .textHolder {
        text-align: center;
    }

    .tableEntryHolder .imgHolder {
        margin: auto;
        text-align: center;
        padding-top: 10px;
    }

    .imgHolder img {
        height: 128px;
        border: 2px solid rgba(145, 145, 145, 0.67); /* #919191AA; */
    }

    .pageStatus, .searchInputHolder {
        text-align: center;
        margin: auto;
    }

    .pageStatus {
        width: calc(100% - 170px);
    }

    .searchInputHolder {
        width: calc(100% - 180px);
    }

    .searchInput {
        max-width: calc(100% - 45px);
    }

    #filterContainer {
        margin-top: 15vh;
    }

    #filterContainer label {
        font-size: 10pt;
    }

    #filterContainer .formInput {
        padding: 3px;
    }
}